<h1><%= @frame.position %></h1>

<%  @frame.options.each do |option| %>
  <%= f.label "answer_#{option[0].to_s.downcase}" do %>
    <%= f.radio_button :answer, option[0] %>
    <%= option[0] %>
  <% end %>
<% end %>

<%= f.submit "Answer" %>
